*{margin: 0; padding: 0;}
header{width:1300px; margin:0 auto; height:50px; }
.header_bottom_line{border-bottom: 1px solid silver;}
.left_text ul li{position: relative;float:left; height:auto; line-height: 30px;list-style: none;padding:10px; font-size: 12px ;font-family: sans-serif;color:#828282;}
.left_text ul li img{position: absolute; top:16px;}
.right_text{ position:relative; right:165px; float:right; }
.right_text ul li{line-height: 20px;list-style:none;font-size: 12px ;font-family: sans-serif;color:#828282;float:left; padding:15px;}
.right_text ul li:nth-child(4){border-right: 1px solid silver; }
.s{position: absolute;left:1470px;top:16px; font-size: 15px;color:#333333}
.heart{position: relative;right:9px;}
p{position:absolute;left:48px;bottom:4px;}
.logo{box-sizing:border-box; height:200px;text-align: center; border-bottom: 1px solid black;padding-top:20px;}
.menu_bar{box-sizing: border-box;position: relative;width: 1293px;height: 58px; margin:0 auto;text-align: center; }
.menu_bar img{padding-top:17px;}
.image{width:60px;height: 56px;background-color: #f3f3f3;}
.menu_bar .image{display:inline-block;width:60px; height: 58px; position: absolute;left:1230px;}
.menu_bar a{color:black;}
#orange a{color:#f97413;}
.menu_bar li{text-decoration: none;text-align: center;float: left;list-style:none; padding:23.6px; font-size:14px; font-family:sans-serif; color:#1c1c1c;padding-top: 20px;}
.logo_bottom_line{border-bottom: 1px solid silver;}
.menu_bar ul li a{text-decoration: none;}
.menu_bar ul li:hover .menu_sub{display:block; }
.menu_bar ul li{cursor: pointer;}
.menu_sub{display: none;}
.menu_sub ul {display:block;position: absolute; width: 100px; margin-top: 21px;margin-left:-42px;}
.menu_sub ul li{color: red;width:100%;font-size: 8px;padding:9px 15px; background-color: white;}
.big_box1{width:1295px; height:600px;  margin: 0 auto;margin-bottom:60px;}
.big_box2{width:1300px;  height:530px;  margin:0 auto;}
.big_box2_1{width:400px; height: 260px; background-color: orange;float:left; margin-right:10px; margin-bottom:10px; }
.big_box2_2{position: relative; bottom:270px;width:480px; height: 530px; background-color: black;float:left; }
.clear{clear:both;}
.big_box1 img{width:100%; height: 100%;}
.big_box2_1 img{width:100%; height: 100%;}
.big_box2_2 img{width:100%; height: 100%;}
